version: 2.1
executors:
  node10:
    docker:
      - image: circleci/node:10
commands:
  run_yarn:
    steps:
      - restore_cache:
          keys:
            - v1-yarn-{{ .Branch }}
      - run:
          name: yarn install
          command: yarn install --no-progress --non-interactive --cache-folder ~/.cache/yarn
      - save_cache:
          paths:
            - node_modules
            - ~/.cache/yarn
          key: v1-yarn-{{ .Branch }}
jobs:
  # Deploy website to GitHub Pages
  deploy:
    executor: node10
    working_directory: ~/upgrade-helper
    steps:
      - checkout
      - save_cache:
          key: v1-repo-{{ .Environment.CIRCLE_SHA1 }}
          paths:
            - ~/upgrade-helper
      - run_yarn
      - run:
          name: Build
          command: yarn build
      - run:
          name: Deploy
          command: |
            if [[ $CIRCLE_PROJECT_USERNAME == "react-native-community" ]]; then
              git config --global user.email $GH_EMAIL
              git config --global user.name $GH_NAME

              yarn gh-pages -d build --message "[skip ci] Updates" --repo https://$GH_TOKEN@github.com/react-native-community/upgrade-helper.git
            else
              echo "Skipping deploy."
            fi
workflows:
  version: 2.1
  deploy-to-gh-pages:
    jobs:
      - deploy
          filters:
            branches:
              only:
                - master
